<main class="py--3">
  <div class="container">
    <h2>Button Variants</h2>
    <div class="jumbotron pb--5">
        <h3>Solid Button Style</h3>
        <fds-ml-button-solid></fds-ml-button-solid>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Clear Button Style</h3>
        <fds-ml-button-clear></fds-ml-button-clear>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Outline Button Style</h3>
        <demo-button-outline></demo-button-outline>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Rounded Button Style</h3>
        <demo-button-rounded></demo-button-rounded>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Rounded Outline Button Style</h3>
        <demo-button-rounded-outline></demo-button-rounded-outline>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Curved Button Style</h3>
        <demo-button-curved></demo-button-curved>
    </div>
    
    <div class="jumbotron pb--5">
        <h3>Curved Outline Button Style</h3>
        <demo-button-curved-outline></demo-button-curved-outline>
    </div>
    <h2>Progress</h2>
    <div class="jumbotron pb--5">
        <h3></h3>
        <div class="row">
        <div class="col--12">
            <demo-progress></demo-progress>
        </div>
        </div>
    </div>
    <h2>Cards</h2>
    <div class="jumbotron pb--5">
        <div class="row mb--5">
          <div class="col--4 mb--5">
            <h5>Default</h5>
            <fds-simple-card></fds-simple-card>
          </div>
          <div class="col--4 mb--5">
            <h5>Box Shadow</h5>
            <fds-box-shadow></fds-box-shadow>
          </div>
          <div class="col--4 mb--5">
            <h5>Solid Shadow</h5>
            <fds-solid-shadow></fds-solid-shadow>
          </div>
          <div class="col--4 mb--5">
            <h5>With Image</h5>
            <fds-with-image></fds-with-image>
          </div>
          <div class="col--4 mb--5 d--flex flex--column">
            <h5>Icon with Fixed Height</h5>
            <fds-icon-fixed-height
              class="d--flex flex--grow--1"
            ></fds-icon-fixed-height>
          </div>
          <div class="col--4 mb--5 d--flex flex--column">
            <h5>Without Icon</h5>
            <fds-no-icon class="d--flex flex--grow--1"></fds-no-icon>
          </div>
          <div class="col--4">
            <h5>With Image and Solid Shadow</h5>
            <fds-image-with-solid-shadow></fds-image-with-solid-shadow>
          </div>
        </div>
    </div>
    <h2>Accordion</h2>
    <div class="jumbotron pb--5">
        <h3>Basic</h3>
        <demo-accordion-basic></demo-accordion-basic>
        <h3 class="mt--3">Multiple</h3>
        <demo-accordion-multiple></demo-accordion-multiple>
    </div>
  </div>
</main>
