<main class="py--8">
  <div class="container">
    <theme-switcher [themes]="themesList"></theme-switcher>
    <h2>Button Variants</h2>
    <div class="jumbotron pb--5">
      <h3>Solid Button Style</h3>
      <fds-ml-button-solid></fds-ml-button-solid>
    </div>
    <div class="jumbotron pb--5">
      <h3>Rounded Button Style</h3>
      <demo-button-rounded></demo-button-rounded>
    </div>
    <div class="jumbotron pb--5">
      <h3>Clean Button Style</h3>
      <fds-ml-button-clear></fds-ml-button-clear>
    </div>
    <h2>Range Slider</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-range-slider></demo-range-slider>
    </div>
    <h2>Progress</h2>
    <div class="jumbotron pb--5">
      <demo-progress></demo-progress>
    </div>
    <h2>Radio Button</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-radio-basics></demo-radio-basics>
      <h3>Inline</h3>
      <demo-radio-inline></demo-radio-inline>
    </div>
    <h2>Checkbox</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-checkbox-basic></demo-checkbox-basic>
    </div>
    <h2>Cards</h2>
    <div class="jumbotron pb--5">
      <div class="row mb--5">
        <div class="col-4 mb--5">
          <h5>Default</h5>
          <fds-simple-card></fds-simple-card>
        </div>
      </div>
    </div>
    <h2>Accordion</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-accordion-basic></demo-accordion-basic>
    </div>
  </div>
</main>